<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Services Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="itunesSearch">
<div ng-controller="searchController as sc">
    <input type="text" ng-model="sc.searchTerm">
    <button ng-click="sc.getData()">Search</button>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Track Title</th>
                <th>Album Art</th>
                <th>Track Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in sc.artistData">
                <td>{{$index + 1}}</td>
                <td>{{song.trackName}}</td>
                <td><img ng-src="{{song.artworkUrl100}}" alt="album art"></td>
                <td>{{song.trackPrice}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="script.js"></script>
</body>
</html>